body {
  background-color: #333;
}

a {
  color: #fff;
}

a:hover, a:focus, a:target, a:active {
  color: #eee;
  text-decoration: none;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000;
}

.toclose {
  position: absolute;
  top: 5px;
  right: 30px;
  z-index: 1020;
}

#one .toclose,
#four .toclose {
  color: #000;
}

#two .toclose,
#three .toclose,
#art-gal .toclose,
#photo-gal .toclose {
  color: #fff;
}

.home-pointer {
  position: absolute;
  height: 50%;
  cursor: pointer;
  z-index: 10;
}

.scale1, .scale2, .scale3, .scale4 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.scale1 {
  right: 0;
  background: #fff;
  -o-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.scale1 + #one {
  background: #fff;
}

.scale2 {
  background: #731313;
  -o-transform-origin: top right;
  -moz-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.scale2 + #two {
  background: #731313;
}

.scale3 {
  right: 0;
  background: #0B192B;
  -o-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

.scale3 + #three {
  background: #0B192B;
}

.scale4 {
  background: #8DD430;
  -o-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.scale4 + #four {
  background: #8DD430;
}

#one, #two, #three, #four, #portfolio, #web-design, #illustrations, #contacts {
  top: 0;
  left: 0;
  color: #000;
}

#one h2, #two h2, #three h2, #four h2, #portfolio h2, #web-design h2, #illustrations h2, #contacts h2 {
  background-color: transparent;
}

#one h3 {
  height: 2em;
}

#portfolio {
  background: url("img/home/portfolio.jpg") center center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#web-design {
  left: 50%;
  background: url("img/home/gorilloweb.jpg") top center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#illustrations {
  background: url("img/home/illustration.jpg") top center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  top: 50%;
}

#contacts {
  background: url("img/home/torino.jpg") top center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  top: 50%;
  left: 50%;
}

.color {
  position: absolute;
}

.color.red {
  background: rgba(115, 19, 19, 0.4);
}

.color.red:hover {
  background: rgba(115, 19, 19, 0.8);
}

.color.white {
  background: rgba(255, 255, 255, 0.2);
}

.color.white:hover {
  background: rgba(255, 255, 255, 0.3);
}

.color.blue {
  background: rgba(11, 25, 43, 0.4);
}

.color.blue:hover {
  background: rgba(11, 25, 43, 0.8);
}

.color.green {
  background: rgba(141, 212, 48, 0.4);
}

.color.green:hover {
  background: rgba(141, 212, 48, 0.6);
}

.box,
.color,
.lightbox:target {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.lightbox:target {
  outline: none;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  margin-left: 0;
  padding: 5px;
  overflow-y: auto;
  -webkit-overflow-y: auto;
  -webkit-overflow-scrolling: touch !important;
}

.page-one,
.page-two,
.page-three,
.page-four {
  position: relative;
  width: 100%;
  height: 100%;
}

#art-gal,
#photo-gal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
  margin-left: 0;
  padding: 5px;
  background: #0B192B;
  color: #fff;
}

.page-art > h1,
.page-photo > h1 {
  font-size: 4em;
  color: #0B192B;
  background-color: #fff;
  display: inline-block;
  transition: background-color 600ms ease-in-out;
  -webkit-transition: background-color 600ms ease-in-out;
  transition: color 600ms ease-in-out;
  -webkit-transition: color 600ms ease-in-out;
}

.page-art > h1:hover,
.page-art > h1:focus,
.page-photo > h1:hover,
.page-photo > h1:focus {
  background-color: #0B192B;
  color: #fff;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob, bob {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active,
bob:hover,
bob:focus,
bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*animazione elemento html esterno*/
.content {
  animation: content-fullsize 300ms ease-in forwards;
  -moz-animation: content-fullsize 300ms ease-in forwards;
  -o-animation: content-fullsize 300ms ease-in forwards;
  -webkit-animation: content-fullsize 300ms ease-in forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
}

@-webkit-keyframes content-fullsize {
  from {
    opacity: 0;
    transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    top: 0;
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

@-moz-keyframes content-fullsize {
  from {
    opacity: 0;
    transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    top: 0;
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

@-ms-keyframes content-fullsize {
  from {
    opacity: 0;
    transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    top: 0;
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

@keyframes content-fullsize {
  from {
    opacity: 0;
    transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    top: 0;
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

.content-negative {
  animation: content-neg 300ms ease-in forwards;
  -moz-animation: content-neg 300ms ease-in forwards;
  -o-animation: content-neg 300ms ease-in forwards;
  -webkit-animation: content-neg 300ms ease-in forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
}

@-webkit-keyframes content-neg {
  from {
    opacity: 0;
    left: 50%;
    transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

@-moz-keyframes content-neg {
  from {
    opacity: 0;
    left: 50%;
    transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

@-ms-keyframes content-neg {
  from {
    opacity: 0;
    left: 50%;
    transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

@keyframes content-neg {
  from {
    opacity: 0;
    left: 50%;
    transform: scale(0.25, 0.25);
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
  }
}

.content-top {
  animation: content-top 600ms ease-in 350ms forwards;
  -moz-animation: content-top 600ms ease-in 350ms forwards;
  -o-animation: content-top 600ms ease-in 350ms forwards;
  -webkit-animation: content-top 600ms ease-in 350ms forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@-webkit-keyframes content-top {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
    z-index: 1100;
  }
  100% {
    opacity: 1;
    z-index: 1100;
  }
}

@-moz-keyframes content-top {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
    z-index: 1100;
  }
  100% {
    opacity: 1;
    z-index: 1100;
  }
}

@-ms-keyframes content-top {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
    z-index: 1100;
  }
  100% {
    opacity: 1;
    z-index: 1100;
  }
}

@keyframes content-top {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
    z-index: 1100;
  }
  100% {
    opacity: 1;
    z-index: 1100;
  }
}

.awesome-txt {
  opacity: 0;
  animation: text-opacity 300ms ease-in 400ms forwards;
  -moz-animation: text-opacity 300ms ease-in 400ms forwards;
  -o-animation: text-opacity 300ms ease-in 400ms forwards;
  -webkit-animation: text-opacity 300ms ease-in 400ms forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
}

@-webkit-keyframes text-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes text-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes text-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*fine animazione html esterno*/
.pd10 {
  padding: 10px;
}

.pd30 {
  padding: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

/*lightbox*/
.lightbox {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1100;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.resize {
  max-width: 60%;
  max-height: 50%;
  margin: 0 auto;
}

#work1 > :first-child,
#work2 > :first-child,
#work3 > :first-child,
#work4 > :first-child {
  display: inline-block;
  width: 60%;
  color: #fff;
}

.lghtbox-size {
  max-width: 55%;
}

/*lightbox fine*/
@media only screen and (max-width: 1024px) {
  #work1 > :first-child,
  #work2 > :first-child,
  #work3 > :first-child,
  #work4 > :first-child, .lghtbox-size {
    display: inline-block;
    width: 90%;
    max-width: 90%;
    color: #fff;
  }
  .resize {
    width: 60%;
    max-width: 60%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 980px) {
  #one h3 {
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
  .page-art > h1,
  .page-photo > h1 {
    font-size: 2em;
  }
  .resize {
    width: 90%;
    max-width: 90%;
    max-height: 100%;
  }
}
