$dark-grey: #333;
$white:#fff;
$red:#731313;
$blue:#0B192B;
$green:#8DD430;
$black:#000;
$light-grey:#eee;

@mixin origin($x) {	
  -o-transform-origin:$x;
  -moz-transform-origin:$x;
  -webkit-transform-origin:$x;
   transform-origin:$x;
}

@mixin animate($val,$iteration:1) {
  animation: $val;
  -moz-animation: $val;
  -o-animation: $val;
  -webkit-animation: $val;
  animation-iteration-count:$iteration;
  -webkit-animation-iteration-count:$iteration;
  -moz-animation-iteration-count:$iteration;
  -o-animation-iteration-count:$iteration;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin cover {	
  background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
}

@mixin overflo {
  overflow-y: auto;
  -webkit-overflow-y: auto;
  -webkit-overflow-scrolling:touch !important;
}

@mixin flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

@mixin posizionamento($pos:absolute,$x:100%,$y:100%) {
	position:$pos;
	width:$x;
	height:$y;
}

body {
  background-color: $dark-grey;
}

a {
	color:$white;
	&:hover, &:focus, &:target, &:active {
	 	color:$light-grey;
	 	text-decoration:none;
	}
}

.container {
	@include posizionamento;
	overflow:hidden;
	color:$black;
}

.toclose {
  position:fixed;
  top: 5px;
  right: 30px;
  z-index: 120;
	#one &,
	#four & {
    color:$black;
	}
    #two &, 
    #three &, 
    #art-gal &, 
    #photo-gal & {
     color:$white;
    }
}

.home-pointer{
  position:absolute;
  height:50%;
  cursor: pointer;
  z-index: 10;
}

.scale1, .scale2, .scale3, .scale4 {
	@include posizionamento;
	opacity:0;
}

	.scale1 {
		background: $white;
		@include origin(top left);
     +#one{
        background: $white;
      }
	}

	.scale2 {
		background: $red;
		 @include origin(top right);
     +#two{
        background: $red;
      }
	}

	.scale3 {
		 background: $blue;
		 @include origin(bottom left);
      +#three{
        background: $blue;
      }
	}

	.scale4 {
		 background: $green;
		 @include origin(bottom right);
      +#four{
        background: $green;
      }
	}

#one,#two,#three,#four,#portfolio, #web-design, #illustrations, #contacts  {
  top: 0;
  left: 0;
  color:$black;
  	h2 {
 		 background-color:rgba(0,0,0,0);
 	 }
}

 #one h3 {
	    height: 2em;
	}

	#portfolio { 
		  background: url("img/home/portfolio.jpg") center center no-repeat;
		   @include cover;
	    }
  
    #web-design {
		  left: 50%;
		  background: url("img/home/gorilloweb.jpg") top center no-repeat;
		  @include cover;
		}

	#illustrations {
	  background: url("img/home/illustration.jpg") top center no-repeat;
	  @include cover;
	  top: 50%;  
	}

	#contacts {
	  background: url("img/home/torino.jpg") top center no-repeat;
	  @include cover;
	  top: 50%;
	  left: 50%;
	}


.color {
	position:absolute;
	&.red {
     	background:rgba($red, .4);
     	&:hover {
     		background:rgba($red, .8);
     	}
	}
	&.white {
		background:rgba($white, .2);
		&:hover {
     		background:rgba($white, .3);
     	}
	}
	&.blue {
		background:rgba($blue, .4);
		&:hover {
     		background:rgba($blue, .8);
     	}
	}
	&.green {
		background:rgba($green, .4);
		&:hover {
     		background:rgba($green, .6);
     	}
	}
}

.box,
.color,
.lightbox:target {
	@include flex;
}

.lightbox:target {
	outline:none;
	}

.page {
  @include posizionamento;
  z-index: 0;
  opacity: 0;
  margin-left: 0;
  padding:5px;
  @include overflo;  
}

.page-one,
.page-two,
.page-three,
.page-four {
  @include posizionamento(relative);
}

#art-gal,
#photo-gal {
  @include posizionamento(fixed);
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
  margin-left: 0;
  padding: 5px;
  background: $blue;
}

.page-art >h1,
.page-photo>h1 {
  font-size: 4em;
  color:$blue;
  background-color: #fff;
  display: inline-block;
  transition:background-color 600ms ease-in-out;
  -webkit-transition:background-color 600ms ease-in-out;
  transition:color 600ms ease-in-out;
  -webkit-transition:color 600ms ease-in-out;

	&:hover,
	&:focus {
	  background-color:$blue;
	  color: #fff;
	}
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
	&:hover, 
	&:focus,
	&:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob, bob {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
	&:hover,
	&:focus, 
	&:active, 
    {
	  -webkit-animation-name: hvr-bob-float, hvr-bob;
	  animation-name: hvr-bob-float, hvr-bob;
	  -webkit-animation-duration: .3s, 1.5s;
	  animation-duration: .3s, 1.5s;
	  -webkit-animation-delay: 0s, .3s;
	  animation-delay: 0s, .3s;
	  -webkit-animation-timing-function: ease-out, ease-in-out;
	  animation-timing-function: ease-out, ease-in-out;
	  -webkit-animation-iteration-count: 1, infinite;
	  animation-iteration-count: 1, infinite;
	  -webkit-animation-fill-mode: forwards;
	  animation-fill-mode: forwards;
	  -webkit-animation-direction: normal, alternate;
	  animation-direction: normal, alternate;
	}
}

/*animazione elemento html esterno*/

.content {
@include animate(content-fullsize 300ms ease-in forwards, 1);
right:0;
}

@include keyframes(content-fullsize) {
   from {
      opacity: 0;
      transform: scale(0.25,0.25);
      -webkit-transform: scale(0.25,0.25);
      -moz-transform:scale(0.25,0.25);
      top:0;
    }

    to {
      opacity: 1;
      z-index: 1000;
      left: 0;
      top: 0;
      bottom: 0;
      right:0;
      transform: scale(1,1);
      -webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
    }
}


.content-negative {
@include animate(content-neg 300ms ease-in forwards);
}

@include keyframes(content-neg) {
    from {
    opacity: 0;
    left: 50%;
    transform: scale(0.25,0.25);
    -moz-transform: scale(0.25,0.25);
    -webkit-transform: scale(0.25,0.25);
  }
  to {
    opacity: 1;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    transform: scale(1,1);
   -webkit-transform: scale(1,1);
   -moz-transform: scale(1,1);
  }
}

.content-top {
@include animate(content-top 600ms ease-in 350ms forwards);
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}

@include keyframes(content-top) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.25;
    z-index: 1100;
  }

  100% {
    opacity: 1;
    z-index: 1100;
  }
}

.awesome-txt {
  opacity: 0;
  @include animate (text-opacity 300ms ease-in 400ms forwards);
}

@include keyframes(text-opacity) {

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*fine animazione html esterno*/


.pd10 {
  padding: 10px;
}

.pd30 {
  padding: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}
/*lightbox*/

.lightbox {
  display: none;
  @include posizionamento(fixed);
  z-index: 1100;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

 .resize {
  max-width: 60%;
  max-height: 50%;
  margin: 0 auto;
}

#work1> :first-child ,
#work2> :first-child,
#work3> :first-child,
#work4> :first-child {
  display: inline-block;
  width: 60%;
  color: #fff;
}

.lghtbox-size {
  max-width: 55%; 
}

/*lightbox fine*/



@media only screen and (max-width:1024px) {
#work1> :first-child ,
#work2> :first-child,
#work3> :first-child,
#work4> :first-child , .lghtbox-size{
  display: inline-block;
  width: 90%;
  max-width: 90%;
  color: #fff;
}

 .resize {
  width: 60%;
  max-width: 60%;
  max-height: 100%;
}
}

@media only screen and (max-width:980px) {
  #one h3 {
  height: auto;
  }

  }


@media only screen and (max-width:480px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.1em;
  }

.page-art >h1,
.page-photo>h1 {
  font-size: 2em;

}
.resize {
  width: 90%;
  max-width: 90%;
  max-height: 100%;
}

}